.search-bar {
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

.search-bar1 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    width: 500px;
    border-radius: 266px;
    height: 26px;
    border-style: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-left: 20px;

}

.p {

    font-family: Arial;
    color: rgb(100, 100, 100);
    margin-top: 0;
    margin-bottom: 0;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
}

.search-bar2 {
    font-size: 16px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.disclaimer {
    font-size: 16px;
    margin-bottom: 20px;
}

.join-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    border-radius: 16px;
    transition: background-color 0.15s;
}

.join-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    font-size: 20px;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 30px;
}
