p {
    font-family: Arial;
}
.nameinput,.mailinput{
    display: block;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px ;
    border-style: solid;
    border-radius: 5px ;
    width: 200px;
    font-size: 17px;
}
.basictext{
    display:inline-block;
    width: 210px;
    vertical-align: middle;
    margin-right: 10px;
}
.b1{
    vertical-align: middle;
    display: inline-block;
}
.logo{
    display: block;
    margin-left: 100px ;
    width: 200px;
    margin-bottom: 10px;
}
.googleinput{
    display:block; 
    border:none;
    width: 350px;
    border-radius: 20px;
    border-style: none; 
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px ;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
input{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    font-size: 16px;
    margin-bottom: 10px;
}
.firstname{
    width: 150px;
}
.email {
    width:338px;
    
    display: block;

}
.signup_button{
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    width: 300px;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    background-color:rgb(47, 127, 231) ;
    color: white;
    border: none;
}

.request_text{
    font-size: 40px;
    margin-bottom: 25px;

}
.location,.destination{
    background-color: rgb(240, 240, 240);
    border: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 350px;
    margin-bottom: 10px;
    display: block;
    border-radius: 0px;
}
.request_button{
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-right: 20px ;
    border: none;
}
.schedule_button{
    padding-left: 25px;
    padding-top: 15px ;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    border: none;
}